<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>

    <div class="container">
        <h2> <%= question %></h2>
        <ul>
            <% for(const key in option) { %>

                <li><%= option[key].optionStatement %>  has got <%= option[key].count %> votes.</li>
                
            <% } %>     
        </ul>
        <button onClick="window.location.reload();">Refresh Page</button>
        <form method="POST">
        <button type="submit"> Delete this poll </button>
        
    </form>
    </div>
    
    <%- include('./partials/footer.ejs') %>
</body>
</html>